<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <title>Index</title>
</head>

<body>
    <div id="app">
        {{ message }}
        {{ myName}}
    </div>
    <div id="app2">
        <a v-bind:href="googleLink">{{googleName}}</a>

    </div>
    <script>
        var app = new Vue({
            el: '#app', data: {
                message: 'Hello Vue!',
                myName: 'toon'
            }
        });
        new Vue({
            el: "#app2",
            data: {
                googleName: 'Google',
                googleLink: 'https://www.google.co.th/'
            }
        });
    </script>
</body>

</html>